.btn {
  border: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;

  @media (min-width: 990px) {
    font-size: 1.3rem;
  }

  &.ico {
    font-size: 1.5rem;

    @media (min-width: 990px) {
      font-size: 2rem;
    }
  }
  &.img {
    padding: 0;
  }
  &.btn-primary {
    background-color: $primary;
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-circle {
    border-radius: 50%;
  }
}

.border-container {
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: transparent;
  display: flex;
  align-items: center;

  &.between {
    justify-content: space-between;
  }

  &.col {
    flex-flow: column;
    align-items: flex-start;
  }
}

.btns-container {
  display: flex;
  align-items: center;
  padding: 15px 20px;

  &.center {
    justify-content: center;
  }
}

.btn-group {
  button {
    color: $primary;
    background-color: #fff;
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;

    @media (min-width: 990px) {
      font-size: 1.3rem;
    }
  }

  button.active {
    color: #fff;
    background-color: $primary;
  }

  button:first-child {
    @if ($ltr) {
      border-radius: 10px 0 0 10px;
    } @else {
      border-radius: 0 10px 10px 0;
    }
  }
  button:last-child {
    @if ($ltr) {
      border-radius: 0 10px 10px 0;
    } @else {
      border-radius: 10px 0 0 10px;
    }
  }
}
.lead-text {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dark {
  background: $dark;
}

.secondary {
  background: $secondary;
}

.primary {
  background: $primary;
}

.d-flex {
  display: flex;
}

.b-0 {
  border: 0 !important;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.btn-red {
  color: $danger !important;
}

.text-error {
  margin: 5px 0;
  color: $danger;
  font-size: 1rem;
}
.text-primary {
  margin: 5px 0;
  color: $primary;
  font-size: 1rem;
}

.loading-container {
  width: 100%;
  text-align: center;

  .loader {
    font-size: 2.2rem;
    color: $primary;
  }
}

.page-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
}

.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1;
  font-size: 1rem;
  font-weight: bold;
}
