/* doctor_assignment page: */

.assignment-container {
  display: flex;
  background: $secondary;
  overflow: hidden;

  &.full {
    .assignment-left-no {
      width: 100%;
      padding: 20px;
    }
    .assignment-right-name {
      width: 0;
      padding: 0;
    }
  }

  &.active {
    .assignment-left-no {
      width: 100%;
      padding: 20px;
    }
    .assignment-right-name {
      width: 0;
      padding: 0;
    }
    @media (min-width: 800px) {
      .assignment-left-no {
        width: 30%;
        padding: 20px;
      }
      .assignment-right-name {
        width: 70%;
        padding: 20px;
      }
    }
  }
}

.title {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.assignment-left-no {
  display: flex;
  flex-flow: column;
  color: #ddd;
  overflow: hidden;
  padding: 0;
  width: 0;
  transition: 0.3s all;
}

.assignment-no {
  display: flex;
  border: 1px solid rgba(221, 221, 221, 0.514);
  margin: 15px 0 0 0;
  background: $dark;
  flex-flow: row;

  .assignment-btn-container {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    padding: 10px;
    .close-btn {
      color: $danger;
      font-size: 1.2rem;
      border: 0;
      background: none;
    }
    .edit-btn {
      color: #fff;
      font-size: 1.2rem;
      border: 0;
      background: none;
    }
  }

  .assignment-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px 0;
    cursor: pointer;
    &.active {
      background: $primary;
    }
  }
  .assignment-text {
    margin: 0 0 5px 0;
    color: #fff;
    &:last-of-type {
      margin: 0;
    }
  }
}

.assignment-right-name {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  background: $dark;
  color: #ddd;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  transition: 0.3s all;
}

.assignment-name {
  display: flex;
  border: 1px solid rgba(221, 221, 221, 0.514);
  margin: 15px 0;
  padding: 30px 0;
  background: $secondary;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  cursor: pointer;

  .assignment-solver-text {
    color: #fff;
    margin: 0 0 5px 0;
    &:last-of-type {
      margin: 0;
    }
  }
}
