.header {
  background: #3e4851;
  padding: 0 4vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 2vh 0;
  height: 10vh;
  &.active {
    z-index: 1000;
    position: fixed;
    transition: 0.3s all;
  }
}

.header-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.assignment-open {
  border: 0;
  background: none;
  flex-shrink: 0;
  margin: 0 20px 0 0;
  font-size: 1.4rem;
  color: #fff;
}

.header-logo {
  margin: 0 20px 0 0;
  width: 60px;
  height: 60px;
}

.search-box {
  border: 1px solid #ddd;
  background: $dark;
  display: flex;
  padding: 10px 15px;
  border-radius: 10px;
  width: 250px;
}

.search-btn {
  font-size: 1rem;
  transition: 0.4s;
  color: #fff;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.header-list-item i {
  color: #fff;
  font-size: 1.4rem;
}

.header-list-item.seperator {
  width: 1px;
  height: 20px;
  background: #ddd;
  margin: 0 15px;
}

.notification-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 1.5rem 0 0;
}
.notification-item {
  display: flex;
  flex-flow: column;

  .notification-title {
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    color: #111;
  }
  .notification-body {
    font-size: 0.9rem;

    color: #555;
  }
}
