$primary: #fcbb3b;
$secondary: #3e4851;
$dark: #343b45;

@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_grid.scss";
@import "bootstrap/scss/_reboot.scss";

@import "./formPages.scss";
