.modal {
  .modal-content {
    background: $dark;
    .modal-header {
      background: $secondary;
      color: #fff;
      .close {
        color: #fff;
      }
    }
    .modal-footer {
      background: $secondary;
      &.between {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &.center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .model-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
    color: #fff;
    &:last-of-type {
      margin: 0;
    }

    button {
      border: 0;
      background: none;
      color: $primary;
    }
  }
  .modal-items-list {
    margin: 0 0 15px 0;
    &:last-of-type {
      margin: 0;
    }
    .modal-items-list-header {
      text-transform: capitalize;
      color: #fff;
      font-size: 1.1rem;
      margin: 0;
    }
    .modal-items-list-content {
      padding: 0 30px;
      display: flex;
      flex-flow: column;

      span {
        text-transform: capitalize;
        color: #fff;
        font-size: 1rem;
      }
    }
  }
  .modal-form-control {
    width: 100%;
    margin: 0 0 15px 0;
    &:last-of-type {
      margin: 0;
    }

    &.normal-width {
      width: 180px;
    }

    &.label-inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label {
      color: #fff;
      flex-shrink: 0;
      text-transform: capitalize;
      @if ($ltr) {
        margin: 0 10px 0 0;
      } @else {
        margin: 0 0 0 10px;
      }
    }

    p {
      font-size: 1.1rem;
      color: #fff;
    }

    span {
      flex-shrink: 0;
      margin: 0 10px;
      font-size: 1.2rem;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 0;
      outline: none;
      font-size: 1rem;
      background: $secondary;
      color: #fff;
      resize: none;

      &::placeholder {
        color: #ddd;
      }

      &.dark {
        background: $dark;
      }
    }

    option {
      color: #fff;
      margin: 5px 0;
    }
  }
}
