.assignments-students-container {
  .assignments-header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;
  }
  .header-part-one {
    flex-grow: 1;

    div {
      height: 2px;
      margin-top: 10px;
      background: #fff;
    }
  }

  .header-btn {
    background: none;
    border: 0;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    transition: 0.3s all;

    &.active div {
      background: $primary;
    }

    span {
      margin: 0 5px;
    }

    div {
      height: 3px;
      margin-top: 8px;
      background: #fff;
    }
  }

  .assignments-students-item {
    display: flex;
    border: 1px solid rgba(221, 221, 221, 0.514);
    margin: 15px 0;
    padding: 30px 0 0;
    background: $secondary;
    justify-content: center;
    text-align: center;
    flex-flow: column;

    &.without {
      padding: 30px 0;
    }

    button {
      background: $dark;
      border: 0;
      color: #fff;
      font-size: 1.2rem;
      text-transform: capitalize;
      padding: 5px 0;
      transition: 0.3s all;
      margin: 10px 0 0 0;

      &:hover {
        background: $primary;
      }
    }
    p {
      color: #fff;
      font-size: 1rem;
      text-transform: capitalize;
      margin: 0 0 5px 0;
    }
  }
}
